/bin/
.classpath
.project
/target/
/dist/
ansi-test/**/*.abcl
ansi-test/**/*.dat
ansi-test/**/*.bak
ansi-test/**/scratch
ansi-test/**/foo.fasl
ansi-test/**/foo.lsp
ansi-test/**/foo.txt
ansi-test/**/tmp.txt
ansi-test/**/compile-file-test-lp.lsp
ansi-test/**/compile-file-test-lp.out
ansi-test/**/file-that-was-renamed.txt
ansi-test/**/foo.ufsl
ansi-test/**/ldtest.lsp


